    <!-- header -->
    <%- include('../partials/header') %> 
    <!-- end header -->

    <!-- sidebar -->

    <%- include('../partials/sidebar') %>

    <!-- end sidebar -->

      <!-- Start::app-content -->
      <div class="main-content app-content">
        <div class="container-fluid">
          <!-- Page Header -->
          <div
            class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2"
          >
            <div>
              <nav>
                <ol class="breadcrumb mb-1">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0);" style="color: #d01f2f"
                      >Members Management</a
                    >
                  </li>
                  <li class="breadcrumb-item 989178547 " aria-current="page">
                    View All Members
                  </li>
                </ol>
              </nav>
              <h1 class="page-title fw-medium fs-18 mb-0">
                Manage All Members
              </h1>
            </div>
            <div class="btn-list">
              <button class="btn btn-white btn-wave" style="background-color: gainsboro !important; border-radius: 10px;">
                </i> Total Member's <br />
               <span> <b>117</b></span> 
              </button>
              <button class="btn btn-white btn-wave" style="background-color: gainsboro !important; border-radius: 10px;">
            </i> Active Member's <br />
           <span> <b>115</b></span> 
          </button>
          <button class="btn btn-white btn-wave" style="background-color: gainsboro !important; border-radius: 10px;">
        </i> Inactive Member's <br />
       <span> <b>02</b></span> 
      </button>
              <button class="btn btn-danger btn-wave me-0">
                <i class="ri-share-upward-line me-1"></i> Bulk Upload Members
              </button>
              <button class="btn btn-danger btn-wave me-0">
                <i class="ri-share-forward-line me-1"></i> Export Members
              </button>
            </div>
          </div>
          <!-- Page Header Close -->
          <style>
            .cus{
              font-size: 1.2rem !important;
            }
          </style>
          
          <!-- <div class="col-xl-12">
            <div class="row">
              <div class="col-xxl-12 col-xl-12">
                <div class="row" style="display: flex; justify-content: center;">
                  <div class="col-xxl-3">
                    <div
                      class="card custom-card overflow-hidden main-content-card"
                    >
                      <div
                        class="card-body p-4"
                        style="background-color: gainsboro"
                      >
                        <div class="d-flex align-items-start gap-3">
                          <div class="flex-fill">
                            <h1 class="mb-2 fs-12 cus">
                              Red Lion
                            </h1>
                            <div class="pb-0 mt-0">
                              <div>
                                <h5 class="fw-medium mb-1">
                                  <span class="count-up" data-count="385"
                                    >52</span
                                  >
                                </h5>
                              </div>
                            </div>
                          </div>
                          <div
                            class="main-card-icon primary border-3 border border-primary border-opacity-50 rounded-circle"
                          >
                            <div
                              class="avatar avatar-md bg-primary border border-primary border-opacity-10 avatar-rounded"
                            >
                              <div class="avatar avatar-sm svg-white">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="44"
                                  height="44"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="#d01f2f"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <path
                                    d="M7 8v-2a2 2 0 0 1 2 -2h9a2 2 0 0 1 2 2v2"
                                  />
                                  <path
                                    d="M7 16v2a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-2"
                                  />
                                  <rect
                                    x="3"
                                    y="8"
                                    width="18"
                                    height="8"
                                    rx="2"
                                  />
                                  <circle cx="16.5" cy="12" r="1.5" />
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3">
                    <div
                      class="card custom-card overflow-hidden main-content-card"
                    >
                      <div
                        class="card-body p-4"
                        style="background-color: gainsboro"
                      >
                        <div class="d-flex align-items-start gap-3">
                          <div class="flex-fill">
                            <h6 class="mb-2 fs-12 cus">
                              White Lion
                            </h6>
                            <div class="pb-0 mt-0">
                              <div>
                                <h5 class="fw-medium mb-1">
                                  <span class="count-up" data-count="385"
                                    >60</span
                                  >
                                </h5>
                              </div>
                            </div>
                          </div>
                          <div
                            class="main-card-icon primary border-3 border border-primary border-opacity-50 rounded-circle"
                          >
                            <div
                              class="avatar avatar-md bg-primary border border-primary border-opacity-10 avatar-rounded"
                            >
                              <div class="avatar avatar-sm svg-white">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="44"
                                  height="44"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="#d01f2f"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <path
                                    d="M7 8v-2a2 2 0 0 1 2 -2h9a2 2 0 0 1 2 2v2"
                                  />
                                  <path
                                    d="M7 16v2a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-2"
                                  />
                                  <rect
                                    x="3"
                                    y="8"
                                    width="18"
                                    height="8"
                                    rx="2"
                                  />
                                  <circle cx="16.5" cy="12" r="1.5" />
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3">
                    <div
                      class="card custom-card overflow-hidden main-content-card"
                    >
                      <div
                        class="card-body p-4"
                        style="background-color: gainsboro"
                      >
                        <div class="d-flex align-items-start gap-3">
                          <div class="flex-fill">
                            <h6 class="mb-2 fs-12 cus">
                              Black Lion
                            </h6>
                            <div class="pb-0 mt-0">
                              <div>
                                <h5 class="fw-medium mb-1">
                                  <span class="count-up" data-count="385"
                                    >80</span
                                  >
                                </h5>
                              </div>
                            </div>
                          </div>
                          <div
                            class="main-card-icon primary border-3 border border-primary border-opacity-50 rounded-circle"
                          >
                            <div
                              class="avatar avatar-md bg-primary border border-primary border-opacity-10 avatar-rounded"
                            >
                              <div class="avatar avatar-sm svg-white">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="44"
                                  height="44"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="#d01f2f"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <path
                                    d="M7 8v-2a2 2 0 0 1 2 -2h9a2 2 0 0 1 2 2v2"
                                  />
                                  <path
                                    d="M7 16v2a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-2"
                                  />
                                  <rect
                                    x="3"
                                    y="8"
                                    width="18"
                                    height="8"
                                    rx="2"
                                  />
                                  <circle cx="16.5" cy="12" r="1.5" />
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Start::row-1 -->
          <div class="card custom-card" style="background-color: gainsboro">
            <div class="card-header justify-content-between">
              <div class="card-title">All Members</div>
              <div class="d-flex gap-3 align-items-center flex-wrap">
                <div class="btn-group">
                  <button
                    class="btn btn-outline-light border dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ti ti-sort-descending-2 me-1"></i> Region
                  </button>

                  <button
                    class="btn btn-outline-light border dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ti ti-sort-descending-2 me-1"></i> Chapter
                  </button>
                  <button
                    class="btn btn-outline-light border dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ti ti-sort-descending-2 me-1"></i> Filter
                  </button>
                  <button
                    class="btn btn-outline-light border"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    + Add New Member
                  </button>
                </div>
                <div class="custom-form-group flex-grow-1">
                  <input
                    type="text"
                    id="searchInput"  
                    class="form-control"
                    placeholder="Search Member.."
                    aria-label="Event : custom'id"
                    aria-describedby="button-addon2"
                  />
                  <a href="javascript:void(0);" class="text-muted custom-form-btn">
                    <i class="ti ti-search"></i>
                  </a>
                </div>
                
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table
                  class="table table-hover text-nowrap"
                  style="border: 1px solid grey"
                >
                  <thead>
                    <tr>
                      <th scope="col" style="border: 1px solid grey;">S.No.</th>
                      <th scope="col" style="border: 1px solid grey;">Member Details</th>
                      <th scope="col" style="border: 1px solid grey;">Member Email I'd</th>
                      <th scope="col" style="border: 1px solid grey;">Phone Number</th>
                      <th scope="col" style="border: 1px solid grey;">Member Category</th>
                      <th scope="col" style="border: 1px solid grey;">Member Chapter</th>
                      <th scope="col" style="border: 1px solid grey;">Induction Date</th>
                      <th scope="col" style="border: 1px solid grey;">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer border-top-0">
              <div class="d-flex align-items-center flex-wrap overflow-auto">
                <div class="mb-2 mb-sm-0">
                  Showing <b>1</b> to <b>10</b> entries
                  <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                </div>
                <div class="ms-auto">
                  <ul class="pagination mb-0 overflow-auto">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item 989178547 " aria-current="page">
                      <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">5</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--End::row-1 -->
        </div>
      </div>
      <!-- End::content  -->

      <script src="../../assets/js/script.js"></script>


      <%- include('../partials/footer') %> 
